/*****************************************
 Main stylesheet styled by Miguel Jacobs
*****************************************/
* {
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

body {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "article article aside" "div_break_one div_break_one div_break_one" "first_section first_section first_section" "div_break_two div_break_two div_break_two" "second_section second_section second_section" "div_break_three div_break_three div_break_three" "third_section third_section third_section" "div_break_four div_break_four div_break_four" "fourth_section fourth_section fourth_section" "footer footer footer";
  grid-template-rows: 200px 60px 600px 50px 800px 50px 800px 50px 800px 50px 800px 150px;
  grid-template-columns: 25% 1fr 25%;
  font-family: 'Poiret One', cursive; }

header, nav, article, aside, div, section, footer {
  padding: 20px; }

header {
  grid-area: header;
  padding: 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Flamenco', cursive; }
  header .logo_wrapper {
    opacity: 0.5;
    text-align: center; }
    header .logo_wrapper .company_logo {
      cursor: pointer; }
  header #company_name {
    position: absolute;
    top: 140px;
    right: 590px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text; }
  header #header_background {
    width: 100%;
    height: 200px; }

.homepage_link {
  text-decoration: none;
  color: #000; }

#page_nav {
  grid-area: nav;
  color: #999;
  font-size: 24px;
  word-spacing: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1); }
  #page_nav li {
    width: 150px;
    display: inline-block; }
  #page_nav a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 1px white;
    transition: 300ms; }
    #page_nav a:hover {
      color: #999;
      text-shadow: 0 0 5px #666; }
  #page_nav ul ul {
    display: none; }
  #page_nav ul li:hover > ul {
    display: block;
    position: absolute; }
  #page_nav ul ul {
    width: 150px;
    height: 200px;
    position: relative;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding-top: 10px; }

article {
  grid-area: article;
  background-image: url("../assets/images/index_bg.jpg");
  background-size: contain;
  grid-row-start: header;
  grid-row-end: section_one;
  grid-column-end: aside;
  position: relative;
  padding-top: 300px;
  padding-left: 100px;
  z-index: -1; }

#header_2 span {
  border-bottom: 6px rgba(255, 255, 255, 0.5) solid; }

.article_wrapper {
  width: 900px;
  height: 520px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 8px; }

aside {
  grid-area: aside;
  position: relative;
  top: 20px;
  padding-right: 100px;
  z-index: -1; }

.aside_wrapper {
  width: 300px;
  height: 520px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 8px; }

.break {
  position: relative;
  text-align: center; }

.break_one {
  grid-area: div_break_one; }

.break_two {
  grid-area: div_break_two; }

.break_three {
  grid-area: div_break_three; }

.break_four {
  grid-area: div_break_four; }

.sectioning {
  position: sticky;
  background-size: 100% 100%;
  top: 0; }

.section_one {
  grid-area: first_section;
  background-image: url("../assets/images/hiking_bg.jpg"); }

.section_two {
  grid-area: second_section;
  background-image: url("../assets/images/camping_bg.jpg"); }

.section_three {
  grid-area: third_section;
  background-image: url("../assets/images/fishing_bg.jpg"); }

.section_four {
  grid-area: fourth_section;
  background-image: url("../assets/images/rockclimbing_bg.jpeg"); }

#hiking_text, #camping_text, #fishing_text, #climbing_text {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.hiking_button, .camping_button, .fishing_button, .climbing_button {
  position: absolute;
  top: 400px;
  left: 44%;
  border-radius: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px black solid;
  color: black; }

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.2s; }

footer {
  grid-area: footer;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-top: 1px rgba(255, 255, 255, 0.3) solid; }
  footer #footer_text {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    font-size: 16px; }

/*# sourceMappingURL=main.css.map */
