/*****************************************
 Main stylesheet styled by Miguel Jacobs
*****************************************/
/* -----------------------------------CORE PAGE STYLING------------------------------ */
* {
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poiret One', cursive;
  text-decoration: none; }

body {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "article article aside" "div_break_one div_break_one div_break_one" "first_section first_section first_section" "div_break_two div_break_two div_break_two" "second_section second_section second_section" "div_break_three div_break_three div_break_three" "third_section third_section third_section" "div_break_four div_break_four div_break_four" "fourth_section fourth_section fourth_section" "footer footer footer";
  grid-template-rows: 200px 60px 600px 50px 800px 50px 800px 50px 800px 50px 800px 150px;
  grid-template-columns: 0.25fr 1fr 0.25fr; }

header, nav, article, aside, div, section, footer {
  padding: 20px; }

header {
  grid-area: header;
  padding: 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'Flamenco', cursive; }
  header .logo_wrapper {
    opacity: 0.5;
    text-align: center; }
    header .logo_wrapper .company_logo {
      cursor: pointer; }
  header #company_name {
    position: absolute;
    top: 140px;
    right: 590px;
    color: transparent;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text; }
  header #header_background {
    width: 100%;
    height: 200px; }

.homepage_link {
  text-decoration: none;
  color: #000; }

#page_nav {
  grid-area: nav;
  color: #999;
  font-size: 24px;
  word-spacing: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1); }
  #page_nav li {
    width: 150px;
    display: inline-block; }
  #page_nav a {
    text-decoration: none;
    color: #999;
    text-shadow: 0 0 5px #666;
    transition: 300ms; }
    #page_nav a:hover {
      color: #999;
      text-shadow: 0 0 1px white;
      transition: 0.3s; }
  #page_nav ul ul {
    display: none;
    transition: 0.7s; }
  #page_nav ul li:hover > ul {
    display: block;
    position: absolute; }
  #page_nav ul ul {
    width: 150px;
    height: 200px;
    position: relative;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding-top: 10px; }

article {
  grid-area: article;
  grid-row-start: header;
  grid-row-end: section_one;
  grid-column-end: aside;
  position: relative;
  padding-top: 260px;
  padding-left: 20px;
  z-index: -1; }

.page_article {
  background-image: url("../assets/images/index_bg.jpg");
  background-size: contain; }

#header_2 span {
  border-bottom: 6px rgba(255, 255, 255, 0.5) solid;
  text-transform: capitalize; }

#header_3 {
  padding-top: 50px; }

.article_wrapper {
  width: 920px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #999;
  border-radius: 0 0 8px 8px; }

aside {
  grid-area: aside;
  position: relative;
  padding-top: 0;
  padding-right: 100px;
  z-index: 1; }

.aside_wrapper {
  width: 300px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #999;
  border-radius: 0 0 8px 8px; }

#shark_pic {
  width: 100%;
  height: 90%; }

.break {
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9); }

.break_one {
  grid-area: div_break_one; }

.break_two {
  grid-area: div_break_two; }

.break_three {
  grid-area: div_break_three; }

.break_four {
  grid-area: div_break_four; }

.sectioning {
  position: sticky;
  background-size: 100% 100%;
  top: 0; }

.section_one {
  grid-area: first_section;
  background-image: url("../assets/images/hiking_bg.jpg"); }

.section_two {
  grid-area: second_section;
  background-image: url("../assets/images/camping_bg.jpg"); }

.section_three {
  grid-area: third_section;
  background-image: url("../assets/images/fishing_bg.jpg"); }

.section_four {
  grid-area: fourth_section;
  background-image: url("../assets/images/rockclimbing_bg.jpeg"); }

#hiking_text, #camping_text, #fishing_text, #climbing_text {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.hiking_button, .camping_button, .fishing_button, .climbing_button {
  position: absolute;
  top: 400px;
  left: 44%;
  border-radius: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px black solid;
  color: black;
  transition: 0.2s; }

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  color: #999; }

.footer {
  grid-area: footer;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  border-top: 1px rgba(255, 255, 255, 0.3) solid;
  z-index: 10; }
  .footer #footer_text {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    font-size: 16px; }

/* ---------------------------------END OF CORE PAGE STYLING---------------------------- */
/* ------------------------------------GALLERY PAGE STYLING----------------------------- */
#gallery-page {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "div_break_one div_break_one div_break_one" "first_section first_section first_section" "div_break_two div_break_two div_break_two" "second_section second_section second_section" "div_break_three div_break_three div_break_three" "third_section third_section third_section" "div_break_four div_break_four div_break_four" "fourth_section fourth_section fourth_section" "footer footer footer";
  grid-template-rows: 200px 60px 50px 800px 50px 800px 50px 800px 50px 800px 150px;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  background-image: url("../assets/images/index_bg.jpg");
  background-size: contain;
  background-repeat: no-repeat; }

.hiking_box, .camping_box, .fishing_box, .climbing_box {
  position: absolute;
  width: 70%;
  height: 400px;
  top: 150px;
  left: 16%;
  border-radius: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px black solid;
  color: black;
  transition: 0.2s; }

.images {
  display: grid;
  grid-template-areas: "image_one image_two image_three image_four";
  grid-template-rows: 350px;
  grid-template-columns: repeat(4, 1fr); }

.image_style {
  border: 1px black solid;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  transition: 0.5s; }
  .image_style:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    filter: grayscale(100%); }

.hiking_image_one {
  grid-area: image_one;
  background-image: url("../assets/images/hiking_images/hike_1.jpg");
  background-size: cover;
  overflow: hidden; }

.hiking_image_two {
  grid-area: image_two;
  background-image: url("../assets/images/hiking_images/hike_2.jpg");
  background-size: cover;
  overflow: hidden; }

.hiking_image_three {
  grid-area: image_three;
  background-image: url("../assets/images/hiking_images/hike_3.jpg");
  background-size: cover;
  overflow: hidden; }

.hiking_image_four {
  grid-area: image_four;
  background-image: url("../assets/images/hiking_images/hike_4.jpg");
  background-size: cover;
  overflow: hidden; }

.camping_image_one {
  grid-area: image_one;
  background-image: url("../assets/images/camping_images/camp_1.jpg");
  background-size: cover;
  overflow: hidden; }

.camping_image_two {
  grid-area: image_two;
  background-image: url("../assets/images/camping_images/camp_2.jpg");
  background-size: cover;
  overflow: hidden; }

.camping_image_three {
  grid-area: image_three;
  background-image: url("../assets/images/camping_images/camp_3.jpg");
  background-size: cover;
  overflow: hidden; }

.camping_image_four {
  grid-area: image_four;
  background-image: url("../assets/images/camping_images/camp_4.jpg");
  background-size: cover;
  overflow: hidden; }

.fishing_image_one {
  grid-area: image_one;
  background-image: url("../assets/images/fishing_images/fish_1.jpg");
  background-size: cover;
  overflow: hidden; }

.fishing_image_two {
  grid-area: image_two;
  background-image: url("../assets/images/fishing_images/fish_2.jpg");
  background-size: cover;
  overflow: hidden; }

.fishing_image_three {
  grid-area: image_three;
  background-image: url("../assets/images/fishing_images/fish_3.jpg");
  background-size: cover;
  overflow: hidden; }

.fishing_image_four {
  grid-area: image_four;
  background-image: url("../assets/images/fishing_images/fish_4.jpg");
  background-size: cover;
  overflow: hidden; }

.climbing_image_one {
  grid-area: image_one;
  background-image: url("../assets/images/climbing_images/climb_1.jpg");
  background-size: cover;
  overflow: hidden; }

.climbing_image_two {
  grid-area: image_two;
  background-image: url("../assets/images/climbing_images/climb_2.jpg");
  background-size: cover;
  overflow: hidden; }

.climbing_image_three {
  grid-area: image_three;
  background-image: url("../assets/images/climbing_images/climb_3.jpg");
  background-size: cover;
  overflow: hidden; }

.climbing_image_four {
  grid-area: image_four;
  background-image: url("../assets/images/climbing_images/climb_4.jpg");
  background-size: cover;
  overflow: hidden; }

/* --------------------------------END OF GALLERY PAGE STYLING-------------------------- */
/* -----------------------------------CONTACT PAGE STYLING------------------------------ */
#contact-page {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "article article article" "footer footer footer";
  grid-template-rows: 200px 60px 600px 150px;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  background-image: url("../assets/images/index_bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.article_contact {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-left: 20px;
  z-index: 1;
  background-image: transparent; }

.article_wrapper_contact {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #999;
  border-radius: 0 0 8px 8px; }

.contact_form {
  width: 500px;
  height: 350px;
  padding: 40px; }
  .contact_form .input_name {
    margin-left: 70px; }
  .contact_form .input_surname {
    margin-left: 52px; }
  .contact_form .input_email {
    margin-left: 77px; }
  .contact_form select {
    width: 126px;
    margin-left: 47px; }

#submit_button {
  width: 80px;
  height: 30px;
  transition: 0.4s; }
  #submit_button:hover {
    box-shadow: 0 0 4px white; }

.contact_footer {
  position: relative;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); }

/* -----------------------------END OF CONTACT PAGE STYLING----------------------------- */
/*----------------------------------- END OF MEDIA QUERIES ------------------------------*/
/* -------------------------------------- MEDIA QUERIES (CONTACT-PAGE) -------------------------------- */
@media only screen and (max-width: 360px) {
  body {
    display: grid;
    grid-template-areas: "header" "nav" "article" "footer";
    grid-template-rows: 200px 120px 800px 150px;
    grid-template-columns: 1fr;
    background-image: url("../assets/images/index_bg.jpg");
    background-size: contain;
    background-repeat: no-repeat; } }
#page_nav {
  grid-area: nav; }

.artical_contact .article_wrapper_contact {
  height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #999;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 0;
  left: 400px;
  height: 530px; }

form {
  grid-area: article;
  width: 200px;
  height: 350px;
  padding: 40px; }
  form .input_name {
    margin-left: 70px; }
  form .input_surname {
    margin-left: 52px; }
  form .input_email {
    margin-left: 77px; }
  form select {
    width: 126px;
    margin-left: 47px; }

/*----------------------------------- END OF MEDIA QUERIES ------------------------------*/

/*# sourceMappingURL=main.css.map */
