/*****************************************
 Main stylesheet styled by Miguel Jacobs
*****************************************/
/* -----------------------------------CORE PAGE STYLING------------------------------ */

//Global variables
//*Number behind text name indicates transparency value
$gray_text: #999;
$black_text: #000;
$white_text: #fff;
$white_transparent-bg2: rgba(255,255,255,0.2);
$black_transparent-bg6: rgba(0,0,0,0.6);
$black_transparent-bg7: rgba(0,0,0,0.7);
$box_shadow: 0 1px 3px rgba(255,255,255,0.1);
$borders3: 1px rgba(255,255,255,0.3) solid;
$borders5: 6px rgba(255, 255, 255, 0.5) solid;
$white_shadow1: 0 1px 3px rgba(255, 255, 255, 0.1);
$white_shadow3: 0 1px 0 rgba(255, 255, 255, 0.3);


//sitewide defaults
//*Ensures the prevention of future inconsistencies/alignment glitches
* {
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poiret One', cursive;
}

//creation of grid layout
body {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "article article aside"
  "div_break_one div_break_one div_break_one"
  "first_section first_section first_section"
  "div_break_two div_break_two div_break_two"
  "second_section second_section second_section"
  "div_break_three div_break_three div_break_three"
  "third_section third_section third_section"
  "div_break_four div_break_four div_break_four"
  "fourth_section fourth_section fourth_section"
  "footer footer footer";
  grid-template-rows: 200px 60px 600px 50px 800px 50px 800px 50px 800px 50px 800px 150px;
  grid-template-columns:25% 1fr 25%;
}

//assigning structure to tags
header, nav, article, aside, div, section, footer {
  padding: 20px;
}

//Instantiation of grid
header {
  grid-area: header;
  padding: 0;
  position: relative;
  background-color: $black_transparent-bg7;
  font-family: 'Flamenco', cursive;
  .logo_wrapper {
    opacity: 0.5;
    text-align: center;
    .company_logo {
      cursor: pointer;
    }
  }

  //Company name text styling
  #company_name {
    position: absolute;
    top: 140px;
    right: 590px;
    color: transparent;
    text-shadow: $white_shadow3;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }

  //Header styling only
  #header_background {
     width: 100%;
     height: 200px;
  }
}

.homepage_link {
  text-decoration: none;
  color: $black_text;
}

//Nav ul Styling
@mixin navStyle {
  color: $gray_text;
  font-size: 24px;
  word-spacing: 20px;
}

//Navbar styling + descendents
#page_nav {
  grid-area: nav;
  @include navStyle;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $black_transparent-bg6;
  box-shadow: $box_shadow;
  li {
    width: 150px;
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: $white_text;
    text-shadow: 0 0 1px white;
    transition: 300ms;
    &:hover {
      color: $gray_text;
      text-shadow: 0 0 5px #666;
    }
  }
  ul ul {
    display: none;
  }
  ul li:hover > ul {
    display: block;
    position: absolute;
  }
   ul ul {
    width: 150px;
    height: 200px;
		position: relative;
    background: linear-gradient(transparent, $black_transparent-bg6);
    border-radius: 8px;
		line-height: 50px;
		text-align: center;
		color: $white_text;
		font-size: 18px;
    padding-top: 10px;
  }
}

//Semi-transparent black text wrapper block
@mixin article-aside_block {
  height: 520px;
  background-color: $black_transparent-bg6;
  color: $white_text;
  border-radius: 8px;
}

//Article styling
article {
  grid-area: article;
  background-image: url("../assets/images/index_bg.jpg");
  background-size: contain;
  grid-row-start: header;
  grid-row-end: section_one;
  grid-column-end: aside;
  position: relative;
  padding-top: 300px;
  padding-left: 20px;
  z-index: -1;
}

#header_2 {
  span {
    border-bottom: $borders5;
  }
}

#header_3 {
  padding-top: 50px;
}

.article_wrapper {
  width: 920px;
  @include article-aside_block;
}

//Aside styling
aside {
  grid-area: aside;
  position: relative;
  top: 20px;
  padding-right: 100px;
  z-index: -1;
}

.aside_wrapper {
  width: 300px;
  @include article-aside_block;
}

//Section breaks
.break {
  position: relative;
  text-align: center;
}

//Break headings
.break_one {
  grid-area: div_break_one;
}

.break_two {
  grid-area: div_break_two;
}

.break_three {
  grid-area: div_break_three;
}

.break_four {
  grid-area: div_break_four;
}

//Parrallax effect
@mixin backgroundStyle {
  position: sticky;
  background-size: 100% 100%;
  top: 0;
}

//Fixed background sliding effect
.sectioning {
  @include backgroundStyle;
}

//Section backgrounds
.section_one {
  grid-area: first_section;
  background-image: url("../assets/images/hiking_bg.jpg");
}

.section_two {
  grid-area: second_section;
  background-image: url("../assets/images/camping_bg.jpg");
}

.section_three {
  grid-area: third_section;
  background-image: url("../assets/images/fishing_bg.jpg");
}

.section_four {
  grid-area: fourth_section;
  background-image: url("../assets/images/rockclimbing_bg.jpeg");
}

//Section heading text styling
#hiking_text, #camping_text, #fishing_text, #climbing_text {
  font-size: 20px;
  color: $black_transparent-bg7;
  text-shadow: $white_shadow3;
}

//Global button styling
@mixin buttonStyle {
  position: absolute;
  top: 400px;
  left: 44%;
  border-radius: 12px;
  text-align: center;
  background-color: $white_transparent-bg2;
  border: 1px black solid;
  color: black;
}

//buttons to gallery
.hiking_button, .camping_button, .fishing_button, .climbing_button {
  @include buttonStyle;
}

.button:hover {
  cursor: pointer;
  background-color: $black_transparent-bg6;
  transition: 0.2s;
}

//Footer styling
.footer {
  grid-area: footer;
  position: relative;
  background-color: $white_transparent-bg2;
  text-align: center;
  border-top: $borders3;
  #footer_text {
    text-shadow: $white_shadow3;
    font-size: 16px;
  }
}



/* -----------------------------------CONTACT PAGE STYLING------------------------------ */
#contact-page {
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "article article article"
  "footer footer footer";
  grid-template-rows: 200px 60px 600px 150px;
  grid-template-columns:25% 1fr 25%;

}

.article_contact {
  grid-area: article;
  background-image: url("../assets/images/index_bg.jpg");
  background-size: contain;
  position: relative;
  padding-left: 20px;
  z-index: 1;
}

.article_wrapper_contact {
  @include article-aside_block;
  position: absolute;
  top: 0;
  left: 300px;
}

form {
  width: 500px;
  height: 400px;
  padding: 40px;
}

.contact_footer {
  background-color: $black_transparent-bg7;
}
