/*****************************************
 Main stylesheet styled by Miguel Jacobs
*****************************************/
/* -----------------------------------CORE PAGE STYLING------------------------------ */

//Global variables
//*Number behind text name indicates transparency value
$gray_text: #999;
$black_text: #000;
$white_text: #fff;
$white_transparent-bg2: rgba(255,255,255,0.2);
$black_transparent-bg6: rgba(0,0,0,0.6);
$black_transparent-bg7: rgba(0,0,0,0.7);
$black_transparent-bg9: rgba(0,0,0,0.9);
$box_shadow: 0 1px 3px rgba(255,255,255,0.1);
$borders3: 1px rgba(255,255,255,0.3) solid;
$borders5: 6px rgba(255, 255, 255, 0.5) solid;
$white_shadow1: 0 1px 3px rgba(255, 255, 255, 0.1);
$white_shadow3: 0 1px 0 rgba(255, 255, 255, 0.3);


//sitewide defaults
//*Ensures the prevention of future inconsistencies/alignment glitches
* {
  margin: 0;
  padding: 0;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
}

html{
  background-image: url(images/index_bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #000;
}

//creation of grid layout
#index-page {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "article article aside"
  "div_break_one div_break_one div_break_one"
  "first_section first_section first_section"
  "div_break_two div_break_two div_break_two"
  "second_section second_section second_section"
  "div_break_three div_break_three div_break_three"
  "third_section third_section third_section"
  "div_break_four div_break_four div_break_four"
  "fourth_section fourth_section fourth_section"
  "footer footer footer";
  grid-template-rows: 300px 60px 600px 50px 800px 50px 800px 50px 800px 50px 800px 150px;
  grid-template-columns: 0.25fr 1fr 0.25fr;
}

//assigning structure to tags
header, nav, article, aside, div, section, footer {
  padding: 20px;
}

//Instantiation of grid
header {
  grid-area: header;
  padding: 0;
  position: relative;
  background-color: $black_transparent-bg6;
  font-family: 'Flamenco', cursive;
  .logo_wrapper {
    opacity: 0.5;
    text-align: center;
    .company_logo {
      cursor: pointer;
    }
  }

  //Company name text styling
  #company_name {
    text-align: center;
    top: 140px;
    color: transparent;
    text-shadow: $white_shadow3;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }

  //Header styling only
  #header_background {
     width: 100%;
     height: 200px;
  }
}

.homepage_link {
  text-decoration: none;
  color: $black_text;
}

//Nav ul Styling
@mixin navStyle {
  color: $gray_text;
  font-size: 24px;
  word-spacing: 20px;
}

//Navbar styling + descendents
#page_nav {
  grid-area: nav;
  @include navStyle;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $black_transparent-bg6;
  box-shadow: $box_shadow;
  li {
    width: 150px;
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: $gray_text;
    text-shadow: 0 0 5px #666;
    transition: 300ms;
    &:hover {
      color: $gray_text;
      text-shadow: 0 0 1px white;
      transition: 0.3s;
    }
  }
  //Hide nav list display
  ul ul {
    display: none;
    transition: 0.7s;
  }
  ul li:hover > ul {
    display: block;
    position: absolute;
  }
  //Nav list display styling
   ul ul {
    width: 150px;
    height: 200px;
		position: relative;
    background: linear-gradient(transparent, $black_transparent-bg9);
    border-radius: 8px;
		line-height: 50px;
		text-align: center;
		color: $white_text;
		font-size: 18px;
    padding-top: 10px;
  }
}

//Semi-transparent black text wrapper block
@mixin article-aside_block {
  height: 500px;
  background-color: $black_transparent-bg9;
  color: $gray_text;
  border-radius: 0 0 8px 8px;
}

//Article styling
article {
  grid-area: article;
  position: relative;
  padding-left: 20px;
}

#header_2 {
  span {
    border-bottom: $borders5;
    text-transform: capitalize;
  }
}

#header_3 {
  padding-top: 50px;
}

.article_wrapper {
  @include article-aside_block;
}

//Aside styling
aside {
  grid-area: aside;
  position: relative;
}

.aside_wrapper {
  width: 200px;
  @include article-aside_block;
}

//Event of the week
#shark_pic {
  width: 100%;
  height: 90%;
}

//Section breaks
.break {
  position: relative;
  text-align: center;
  background-color: $black_transparent-bg9;
}

//Break headings
.break_one {
  grid-area: div_break_one;
}

.break_two {
  grid-area: div_break_two;
}

.break_three {
  grid-area: div_break_three;
}

.break_four {
  grid-area: div_break_four;
}

//Parrallax effect
@mixin backgroundStyle {
  position: sticky;
  background-size: 100% 100%;
  top: 0;
}

//Fixed background sliding effect
.sectioning {
  @include backgroundStyle;
}

//Section backgrounds
.section_one {
  grid-area: first_section;
  background-image: url("../images/hiking_bg.jpg");
  background-repeat: no-repeat;
}

.section_two {
  grid-area: second_section;
  background-image: url("../images/camping_bg.jpg");
  background-repeat: no-repeat;
}

.section_three {
  grid-area: third_section;
  background-image: url("../images/fishing_bg.jpg");
  background-repeat: no-repeat;
}

.section_four {
  grid-area: fourth_section;
  background-image: url("../images/rockclimbing_bg.jpg");
  background-repeat: no-repeat;
}

//Section heading text styling
#hiking_text, #camping_text, #fishing_text, #climbing_text {
  font-size: 20px;
  color: $black_transparent-bg7;
  text-shadow: $white_shadow3;
}

//Global button styling
@mixin buttonStyle {
  position: absolute;
  top: 400px;
  left: 44%;
  border-radius: 12px;
  text-align: center;
  background-color: $white_transparent-bg2;
  border: 1px black solid;
  color: black;
  transition: 0.2s;
}

//buttons to gallery
.hiking_button, .camping_button, .fishing_button, .climbing_button {
  @include buttonStyle;
}

.button:hover {
  cursor: pointer;
  background-color: $black_transparent-bg6;
  color: $gray_text;
}

//Footer styling
.footer {
  grid-area: footer;
  position: relative;
  background-color: $black_transparent-bg9;
  text-align: center;
  border-top: $borders3;
  z-index: 10;
  #footer_text {
    text-shadow: $white_shadow3;
    font-size: 16px;
  }
}
/* ---------------------------------END OF CORE PAGE STYLING---------------------------- */


/* ------------------------------------GALLERY PAGE STYLING----------------------------- */
//New structure exclusive to gallery page
#gallery-page {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "div_break_one div_break_one div_break_one"
  "first_section first_section first_section"
  "div_break_two div_break_two div_break_two"
  "second_section second_section second_section"
  "div_break_three div_break_three div_break_three"
  "third_section third_section third_section"
  "div_break_four div_break_four div_break_four"
  "fourth_section fourth_section fourth_section"
  "footer footer footer";
  grid-template-rows: 300px 60px 50px 800px 50px 800px 50px 800px 50px 800px 150px;
  grid-template-columns: 0.25fr 1fr 0.25fr;
}

//Global button styling
@mixin galleryBoxStyle {
  position: absolute;
  width: 70%;
  height: 400px;
  top: 150px;
  left: 16%;
  border-radius: 12px;
  text-align: center;
  background-color: $white_transparent-bg2;
  border: 1px black solid;
  color: black;
  transition: 0.2s;
}

//Transparent boxes in gallery
.hiking_box, .camping_box, .fishing_box, .climbing_box {
  @include galleryBoxStyle;
}

//Grid to hold images
.images {
  display: grid;
  grid-template-areas:
  "image_one image_two image_three image_four";
  grid-template-rows: 350px;
  grid-template-columns:repeat(4, 1fr);
}

//Grid image styling
.image_style {
   border: 1px black solid;
   box-shadow: $white_shadow3;
   transition: 0.5s;
   &:hover {
     cursor: pointer;
     background-color: $black_transparent-bg6;
     filter: grayscale(100%);
   }
}


// .box { 
//     overflow: hidden;
//   .fishing_one_text {
//     position: relative;
//     transition: all 0.3s ease-out;
//     top: 100%;
//   }
//   // Summons hidden text upon hover
//   .images:hover .fishing_one_text {
//   top: 0;
//   }
// }

//Ensures neatness of images
@mixin picStyle {
  background-size: cover;
  overflow: hidden;
}
.hiking_image_one, .camping_image_one, .fishing_image_one, .climbing_image_one {
  @include picStyle;    
  grid-area: image_one;
}  
.hiking_image_two, .camping_image_two, .fishing_image_two, .climbing_image_two {
  @include picStyle;    
  grid-area: image_two;
}  
.hiking_image_three, .camping_image_three, .fishing_image_three, .climbing_image_three {
  @include picStyle;    
  grid-area: image_three;
}  
.hiking_image_four, .camping_image_four, .fishing_image_four, .climbing_image_four {
  @include picStyle;    
  grid-area: image_four;
}  

.hiking_image_one {
  background-image: url("../images/hiking_images/hike_1.jpg");
}
.hiking_image_two {
  background-image: url("../images/hiking_images/hike_2.jpg");
}
.hiking_image_three {
  background-image: url("../images/hiking_images/hike_3.jpg");
}
.hiking_image_four {
  background-image: url("../images/hiking_images/hike_4.jpg");
}
.camping_image_one {
  background-image: url("../images/camping_images/camp_1.jpg");
}
.camping_image_two {
  background-image: url("../images/camping_images/camp_2.jpg");
}
.camping_image_three {
  background-image: url("../images/camping_images/camp_3.jpg");
}
.camping_image_four {
  background-image: url("../images/camping_images/camp_4.jpg");
}
.fishing_image_one {
  background-image: url("../images/fishing_images/fish_1.jpg");
}
.fishing_image_two {
  background-image: url("../images/fishing_images/fish_2.jpg");
}
.fishing_image_three {
  background-image: url("../images/fishing_images/fish_3.jpg");
}
.fishing_image_four {
  background-image: url("../images/fishing_images/fish_4.jpg");
}
.climbing_image_one {
  grid-area: image_one;
  background-image: url("../images/climbing_images/climb_1.jpg");
  @include picStyle;
}
.climbing_image_two {
  background-image: url("../images/climbing_images/climb_2.jpg");
}
.climbing_image_three {
  background-image: url("../images/climbing_images/climb_3.jpg");
}
.climbing_image_four {
  background-image: url("../images/climbing_images/climb_4.jpg");
}
/* --------------------------------END OF GALLERY PAGE STYLING-------------------------- */


/* -----------------------------------CONTACT PAGE STYLING------------------------------ */
//New structure exclusive to contact page
#contact-page {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "article article article"
  "footer footer footer";
  grid-template-rows: 300px 60px 600px 150px;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

//Form container
.article_contact {
  grid-area: article;
  padding-left: 20px;
  background-image: transparent;
}

//Form positioning
.article_wrapper_contact {
  @include article-aside_block;
}

//Form styling
.contact_form {
  width: 500px;
  height: 350px;
  padding: 40px;
  .input_name {
    margin-left: 70px;
  }
  .input_surname {
    margin-left: 52px;
  }
  .input_email {
    margin-left: 77px;
  }
  select {
    width: 126px;
    margin-left: 47px;
  }
}

//Form button styling
#submit_button {
  width: 80px;
  height: 30px;
  transition: 0.4s;
  &:hover {
    box-shadow: 0 0 4px white;
  }
}

//Contact page footer only
.contact_footer {
  position: relative;
  bottom: 0;
  background-color: $black_transparent-bg9;
}
/* -----------------------------END OF CONTACT PAGE STYLING----------------------------- */

//
// /* -------------------------------------- MEDIA QUERIES (Tab View) -------------------------------- */

@media only screen and (max-width: 768px) {
  //Homepage
  //Page Responsive fix!!!
    article {
      padding: 0;
    }
  #index-page {
    //Page Fix!!!
    .break_two {
      grid-area: div_break_two;
      display: none;
    }
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "article"
    "aside"
    "div_break_one" 
    "first_section"
    "second_section"
    "div_break_three"
    "third_section"
    "div_break_four"
    "fourth_section"
    "footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    #page_nav {
      grid-area: nav;
      li {
        font-size: 14px;
        display: inline;
      }
      ul ul {
        display: none;
      }
    }  
    article {
      grid-area: article;
      width: 100%;
      padding-top: 0;
      padding-left: 0;
      .article_wrapper {
        @include article-aside_block;
        p {
          font-size: 14px;
        }
      }
    }
    aside {
      grid-area: aside;
      .aside_wrapper {
        width: 100%;
        height: 700px;
        padding: 0;
        @include article-aside_block;
        #shark_pic {
          width: 100%;
          height: 90%;
        }
      } 
    }
    .section_one {
      grid-area: first_section;
      background-image: url("../images/hiking_bg.jpg");
      background-repeat: no-repeat;
      height: 800px;
    }    
    .section_two {
      grid-area: second_section;
      background-image: url("../images/camping_bg.jpg");
      background-repeat: no-repeat;
      height: 800px;
    }    
    .section_three {
      grid-area: third_section;
      background-image: url("../images/fishing_bg.jpg");
      background-repeat: no-repeat;
      height: 800px;
    }    
    .section_four {
      grid-area: fourth_section;
      background-image: url("../images/rockclimbing_bg.jpg");
      background-repeat: no-repeat;
      height: 800px;
    }
    #hiking_text, #camping_text, #fishing_text, #climbing_text {
      font-size: 20px;
      color: $black_transparent-bg7;
      text-shadow: $white_shadow3;
    }
  }


  //Gallery page
  #gallery-page {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "div_break_one"
    "first_section"
    "div_break_two"
    "second_section"
    "div_break_three"
    "third_section"
    "div_break_four"
    "fourth_section"
    "footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    #page_nav {
      grid-area: nav;
      li {
        font-size: 14px;
        display: inline;
      }
      ul ul {
        display: none;
      }
    }  
    .sectioning {   
      margin: 0; 
      padding: 0;
      @mixin galleryBoxStyle {
        position: absolute;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 350px;
        top: 20px;
        left: 0;
        right: 0;
        padding: 0;
        border-radius: 12px;
        background-color: $white_transparent-bg2;
        border: 1px black solid;
        color: black;
        transition: 0.2s;
      }
      .hiking_box, .camping_box, .fishing_box, .climbing_box {
        @include galleryBoxStyle;
      }
    }
  //Transparent boxes in gallery
  .hiking_box, .camping_box, .fishing_box, .climbing_box {
    margin: 0;
    width: 100%;
  }
    .images {
      display: grid;
      grid-template-areas:
      "image_one"
      "image_two"
      "image_three"
      "image_four";
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1fr;
      justify-content: center;
      padding: 0;
      width: 100%;
    }
    @mixin picStyle {
      background-size: cover;
      overflow: hidden;
    }
    .hiking_image_one, .camping_image_one, .fishing_image_one, .climbing_image_one {
      @include picStyle;    
      grid-area: image_one;
    }  
    .hiking_image_two, .camping_image_two, .fishing_image_two, .climbing_image_two {
      @include picStyle;    
      grid-area: image_two;
    }  
    .hiking_image_three, .camping_image_three, .fishing_image_three, .climbing_image_three {
      @include picStyle;    
      grid-area: image_three;
    }  
    .hiking_image_four, .camping_image_four, .fishing_image_four, .climbing_image_four {
      @include picStyle;    
      grid-area: image_four;
    }  
  
    .hiking_image_one {
      background-image: url("../images/hiking_images/hike_1.jpg");    
    }
    .hiking_image_two {
      background-image: url("../images/hiking_images/hike_2.jpg");
    }
    .hiking_image_three {
      background-image: url("../images/hiking_images/hike_3.jpg");
    }
    .hiking_image_four {
      background-image: url("../images/hiking_images/hike_4.jpg");
    }
    .camping_image_one {
      background-image: url("../images/camping_images/camp_1.jpg");
    }
    .camping_image_two {
      background-image: url("../images/camping_images/camp_2.jpg");
    }
    .camping_image_three {
      background-image: url("../images/camping_images/camp_3.jpg");
    }
    .camping_image_four {
      background-image: url("../images/camping_images/camp_4.jpg");
    }
    .fishing_image_one {
      background-image: url("../images/fishing_images/fish_1.jpg");
    }
    .fishing_image_two {
      background-image: url("../images/fishing_images/fish_2.jpg");
    }
    .fishing_image_three {
      background-image: url("../images/fishing_images/fish_3.jpg");
    }
    .fishing_image_four {
      background-image: url("../images/fishing_images/fish_4.jpg");
    }
    .climbing_image_one {
      background-image: url("../images/climbing_images/climb_1.jpg");
    }
    .climbing_image_two {
      background-image: url("../images/climbing_images/climb_2.jpg");
    }
    .climbing_image_three {
      background-image: url("../images/climbing_images/climb_3.jpg");
    }
    .climbing_image_four {
      background-image: url("../images/climbing_images/climb_4.jpg");
    }
  }

  .hiking_box, .camping_box, .fishing_box, .climbing_box {
    @include galleryBoxStyle;
    width: 200px;
  }

.images_queryStyle {
  display: grid;
  grid-template-areas:
  "image";
  grid-template-rows: 350px;
  grid-template-columns: 1fr;
  overflow: hidden;
  .hiking_image_one, .hiking_image_two, .hiking_image_three, .hiking_image_four,
  .camping_image_one, .camping_image_two, .camping_image_three, .camping_image_four,
  .fishing_image_one, .fishing_image_two, .fishing_image_three, .fishing_image_four,
  .climbing_image_one, .climbing_image_two, .climbing_image_three, .climbing_image_four {
    grid-area: image;
    width: 100%;
  }
}

#contact-page {
  #page_nav {
    grid-area: nav;
    li {
      font-size: 14px;
      display: inline;
    }
    ul ul {
      display: none;
    }
  }  
}

/*----------------------------------- END OF TAB MEDIA QUERIES ------------------------------*/
/* -------------------------------------- MEDIA QUERIES (Mobile View) -------------------------------- */

@media only screen and (max-width: 425px) {
  /* Home Page Responsiveness */
  //Page Responsive fix!!!
    article {
      padding: 0;
    }
    .break_two {
      grid-area: div_break_two;
      display: block;
    }
  
  #index-page {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "article"
    "footer";
    grid-template-rows: 200px 120px 1000px 150px;
    grid-template-columns: 1fr;
    .page_header {
      text-align: center;
      justify-content: center;
      .logo_wrapper {
        padding: 5px;
      }
      #company_name {
        font-size: 12px;
        padding: 5px;
        text-align: center;
      }
    }
    #page_nav {
      grid-area: nav;
      li {
        width: 100%;
        display: inline-block;
      }
      ul ul {
        display: none;
      }
    }  
    /* MOBILE FIX (HOME) - DO NOT EDIT! */
    .mobile_article_home {
      display: flex;
      .article_wrapper {
        height: 900px;
      }
    }
    .page_aside_home {
      display: none;
    }
    .section_home {
      display: none;
    }
    .break_home {
      display: none;
    } 
    .footer{
      grid-area: footer;
    }
  }
  }
  

/* Gallery Page Responsiveness */
#gallery-page {
  display: grid;
  grid-template-areas: 
  "header"
  "nav"
  "div_break_one"
  "first_section"
  "div_break_two"
  "second_section"
  "div_break_three"
  "third_section"
  "div_break_four"
  "fourth_section"
  "footer";  
  grid-template-rows: 200px 120px 90px 400px 90px 400px 90px 400px 90px 400px 150px;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0;
  .page_header {
    text-align: center;
    justify-content: center;
    .logo_wrapper {
      padding: 5px;
    }
    #company_name {
      font-size: 12px;
      padding: 5px;
      text-align: center;
    }
  }
  #page_nav {
    grid-area: nav;
    li {
      width: 100%;
      font-size: 14px;
      display: inline-block;
    }
    ul ul {
      display: none;
    }
  }  
  .sectioning {   
    margin: 0; 
    padding: 0;
    @mixin galleryBoxStyle {
      position: absolute;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 350px;
      top: 20px;
      left: 0;
      right: 0;
      padding: 0;
      border-radius: 12px;
      background-color: $white_transparent-bg2;
      border: 1px black solid;
      color: black;
      transition: 0.2s;
    }
    .hiking_box, .camping_box, .fishing_box, .climbing_box {
      @include galleryBoxStyle;
    }
  }
//Transparent boxes in gallery
.hiking_box, .camping_box, .fishing_box, .climbing_box {
  margin: 0;
  width: 100px;
}
  .images {
    display: grid;
    grid-template-areas:
    "image_one"
    "image_two"
    "image_three"
    "image_four";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    justify-content: center;
    .page_header {
      text-align: center;
      justify-content: center;
      .logo_wrapper {
        padding: 5px;
      }
      #company_name {
        font-size: 12px;
        padding: 5px;
        text-align: center;
      }
    }
  }
  @mixin picStyle {
    background-size: cover;
    overflow: hidden;
  }
  .hiking_image_one, .camping_image_one, .fishing_image_one, .climbing_image_one {
    @include picStyle;    
    grid-area: image_one;
  }  
  .hiking_image_two, .camping_image_two, .fishing_image_two, .climbing_image_two {
    @include picStyle;    
    grid-area: image_two;
  }  
  .hiking_image_three, .camping_image_three, .fishing_image_three, .climbing_image_three {
    @include picStyle;    
    grid-area: image_three;
  }  
  .hiking_image_four, .camping_image_four, .fishing_image_four, .climbing_image_four {
    @include picStyle;    
    grid-area: image_four;
  }  

  .hiking_image_one {
    background-image: url("../images/hiking_images/hike_1.jpg");    
  }
  .hiking_image_two {
    background-image: url("../images/hiking_images/hike_2.jpg");
  }
  .hiking_image_three {
    background-image: url("../images/hiking_images/hike_3.jpg");
  }
  .hiking_image_four {
    background-image: url("../images/hiking_images/hike_4.jpg");
  }
  .camping_image_one {
    background-image: url("../images/camping_images/camp_1.jpg");
  }
  .camping_image_two {
    background-image: url("../images/camping_images/camp_2.jpg");
  }
  .camping_image_three {
    background-image: url("../images/camping_images/camp_3.jpg");
  }
  .camping_image_four {
    background-image: url("../images/camping_images/camp_4.jpg");
  }
  .fishing_image_one {
    background-image: url("../images/fishing_images/fish_1.jpg");
  }
  .fishing_image_two {
    background-image: url("../images/fishing_images/fish_2.jpg");
  }
  .fishing_image_three {
    background-image: url("../images/fishing_images/fish_3.jpg");
  }
  .fishing_image_four {
    background-image: url("../images/fishing_images/fish_4.jpg");
  }
  .climbing_image_one {
    background-image: url("../images/climbing_images/climb_1.jpg");
  }
  .climbing_image_two {
    background-image: url("../images/climbing_images/climb_2.jpg");
  }
  .climbing_image_three {
    background-image: url("../images/climbing_images/climb_3.jpg");
  }
  .climbing_image_four {
    background-image: url("../images/climbing_imas/climb_4.jpg");
  }
}

/* Contact Page Responsiveness */
#contact-page {
  display: grid;
  grid-template-areas:
  "header"
  "nav"
  "article"
  "footer";
  grid-template-rows: 200px 120px 650px 150px;
  grid-template-columns: 1fr;
  background-size: cover;
  .page_header {
    text-align: center;
    justify-content: center;
    .logo_wrapper {
      padding: 5px;
    }
    #company_name {
      font-size: 12px;
      padding: 5px;
      text-align: center;
    }
  }
  #page_nav {
    grid-area: nav;
    li {
      width: 100%;
      font-size: 14px;
      display: inline-block;
    }
    ul ul {
      display: none;
    }
  }  
  .article_contact {
    grid-area: article;
    padding: 0;
      .article_wrapper_contact {
        height: 560px;
        margin: 0;
        text-align: center;
        justify-content: center;
        .contact_form {
          width: 160px;
          height: 300px;
          .input_name, .input_surname, .input_email, .category {
            margin: 0;
          }
          select {
            width: 126px;
          }
          textarea {
            width: 160px;
            height: 70px;
          }
        }
      }
    }
    .footer{
      grid-area: footer;
    }
  }
}

/*----------------------------------- END OF MOBILE MEDIA QUERIES ------------------------------*/
